<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULTURA</title>
    <link rel="stylesheet" href="../css/layoutkultura.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>
    <div class="cap-opacity">
        <div class="container">
            <header>
                <a href="kultura.html">
                    <h1>KULTURA</h1>
                </a>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Explore<i class="fas fa-angle-right"></i></a>
                            <ul class="explore-nav">
                                <li><a href="./touristplaces.html"><i class="fas fa-map-marked-alt"></i>Tourist
                                        places</a></li>
                                <li><a href="./culture.html"><i class="fas fa-globe-americas"></i>Culture</a></li>
                                <li><a href="./about.html"><i class="fas fa-users"></i>About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="./discover.html">Discover</a></li>
                        <li><a href="./tourpackage.html">Tour Package</a></li>
                    </ul>
                </nav>

                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input type="text" placeholder="Search">
                </div>
                <div class="profile">
                    <i class="far fa-user"></i>
                </div>
            </header>

            <main class="content-about">
                <section class="about-us">
                    <article class="info-about">
                        <h2>About <span>Us</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, cumque. Illum maiores odit
                            temporibus, dicta laudantium eaque quod obcaecati dolor enim nostrum libero quis vel quae
                            saepe impedit mollitia nesciunt?
                        </p>
                        <a href="#contact" class="go-contact">
                            Contact us
                        </a>
                    </article>
                    <article class="image-about">
                        <img src="../img/about-us.jpg" alt="image-about">
                    </article>
                </section>
                <section class="contact" id="contact">
                    <article class="get-in-touch">
                        <h3>Get In Touch</h3>
                        <p>
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi quos ut cupiditate corrupti laborum veniam quisquam similique ullam aperiam tenetur?
                        </p>
                        <div class="contact-media">
                            <p><i class="far fa-envelope"></i>turismhn@gmail.com</p>
                            <p><i class="fas fa-mobile-alt"></i>504 9856-4456</p>
                            <p><i class="fas fa-map-marker-alt"></i>Tegucigalpa,Honduras</p>
                        </div>
                    </article>
                    <article class="form">
                        <form>
                            <label>SAY SOMETHING</label>
                            <input type="text" name="name" placeholder="Your name">
                            <input type="email" name="email" placeholder="Your email">
                            <textarea name="message" cols="30" rows="5"></textarea>
                            <button type="submit" name="send">SEND</button>
                        </form>
                    </article>
                </section>
            </main>
        </div>
        <footer class="footer">
            <p>Designed by <small>@OPCODE</small></p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#""><i class=" fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>