<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULTURA</title>
    <link rel="stylesheet" href="../css/layoutkultura.css">
    <link rel="stylesheet" href="../css/culture.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>
    <div class="cap-opacity">
        <div class="container">
            <header>
                <a href="kultura.html">
                    <h1>KULTURA</h1>
                </a>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Explore<i class="fas fa-angle-right"></i></a>
                            <ul class="explore-nav">
                                <li><a href="./touristplaces.html"><i class="fas fa-map-marked-alt"></i>Tourist
                                        places</a></li>
                                <li><a href="./culture.html"><i class="fas fa-globe-americas"></i>Culture</a></li>
                                <li><a href="./about.html"><i class="fas fa-users"></i>About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="./discover.html">Discover</a></li>
                        <li><a href="./tourpackage.html">Tour Package</a></li>
                    </ul>
                </nav>

                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input type="text" placeholder="Search">
                </div>
                <div class="profile">
                    <i class="far fa-user"></i>
                </div>

            </header>
        </div>
        <main class="content-culture">
            <section class="card-culture">
                <h3>The gastronomy of Honduras</h3>
                <article class="images">
                    <img src="../img/gastronomy-1.jpg" alt="BALEADAS">
                    <img src="../img/gastronomy-2.jpg" alt="TAMALES">
                    <img src="../img/gastronomy-3.jpg" alt="SOPADEMARISCOS">
                </article>
                <article class="info-section">
                    <p>
                        Honduran gastronomy is very varied, as it contains indigenous pre-Columbian, Spanish,
                        Creole and, to some extent, African elements, as is typical throughout the Central American
                        Atlantic coast. Honduras tiene una rica variedad de comida, misma que disfrutan mucho los hondureños y a 
                        la vez, conquista los corazones de una alta cantidad de extranjeros.
                    </p>
                    <a href="#">Leer más</a>
                </article>
            </section>

            <section class="card-culture">
                <h3>The festivities of Honduras</h3>
                <article class="images">
                    <img src="../img/festivities-1.jpg" alt="15-DE-SEP">
                    <img src="../img/festivities-2.jpg" alt="15-DE-SEP">
                    <img src="../img/festivities-3.jpg" alt="FESTIVIDAD-GARIFUNA">
                </article>
                <article class="info-section">
                    <p>
                        Las fiestas populares en Honduras están ligadas sobre todo a acontecimientos y festividades religiosas. Además de 
                         eventos de carácter más tradicional como ferias y celebraciones de la cultura indígena también tienen lugar en el país.
                    </p>
                    <a href="#">Leer más</a>
                </article>
            </section>

            <section class="card-culture">
                <h3>The Art of Honduras</h3>
                <article class="images">
                    <img src="../img/art-1.jpg" alt="CANTARANAS-MURALES">
                    <img src="../img/art-2.jpg" alt="GALERIA-ARTE-NACIONAL">
                    <img src="../img/art-3.jpg" alt="ALFOMBRAS-COMAYAGUA">
                </article>
                <article class="info-section">
                    <p>
                        El Arte ha sido una faceta que ha existido con la presencia misma del ser humano en nuestro territorio,
                         lo cual podemos ubicar con la llegada de migraciones de grupos humanos, cazadores y recolectores.
                    </p>
                    <a href="#">Leer más</a>
                </article>
            </section>
        </main>
        <footer class="footer">
            <p>Designed by <small>@OPCODE</small></p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#""><i class=" fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>