<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULTURA</title>
    <link rel="stylesheet" href="../css/discover.css">
    <link rel="stylesheet" href="../css/layoutkultura.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
</head>
<body>
    <div class="cap-opacity">
       <div class="container">
            <header>
                <a href="kultura.html">
                    <h1>KULTURA</h1>
                </a>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Explore<i class="fas fa-angle-right"></i></a>
                            <ul class="explore-nav">
                                <li><a href="./touristplaces.html"><i class="fas fa-map-marked-alt"></i>Tourist places</a></li>
                                <li><a href="./culture.html"><i class="fas fa-globe-americas"></i>Culture</a></li>
                                <li><a href="./about.html"><i class="fas fa-users"></i>About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="./discover.html">Discover</a></li>
                        <li><a href="./tourpackage.html">Tour Package</a></li>
                    </ul>
                </nav>
                
                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input type="text" placeholder="Search">
                </div>
                <div class="profile">
                    <i class="far fa-user"></i>
                </div>
                
        </header>

        <!-- MAIN CONTENT -->
        <main class="content-discover">
            <!-- SECTION NATURE -->
            <div class="title-section">
                <h2>Nature</h2>
            </div>
            <section class="discover">
                <article class="cards-discover">
                    <img src="../img/nature-1.jpg" alt="Fuerte de Cabañas y Casa Kinich">
                    <h3>Fuerte de Cabañas y Casa Kinich</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-2.jpg" alt="Refugio De Vida Silvestre Cuero Y Salado, Atlántida">
                    <h3>Refugio De Vida Silvestre Cuero Y Salado, Atlántida</h3>
                 </article>
                 <article class="cards-discover">
                    <img src="../img/nature-3.jpg" alt="Cuevas de Taulabé, Comayagua">
                    <h3>Cuevas de Taulabé, Comayagua</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-4.jpg" alt="El Jardín Botánico Lacentilla, Tela, Atlántida">
                    <h3>El Jardín Botánico Lacentilla, Tela, Atlántida</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-5.jpg" alt="Cataratas Pulhapanzak, Lago de Yojoa">
                    <h3>Cataratas Pulhapanzak, Lago de Yojoa</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-6.jpg" alt="La Ceiba, Atlántida">
                    <h3>La Ceiba, Atlántida</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-7.jpg" alt="Parque Nacional Cerro Azul Meámbar - PANACAM, Lago de Yojoa">
                    <h3>Parque Nacional Cerro Azul Meámbar - PANACAM, Lago de Yojoa</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-8.jpg" alt="Parque Nacional, La Tigra">
                    <h3>Parque Nacional, La Tigra</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-9.jpg" alt="Parque Nacional, Celaque">
                    <h3>Parque Nacional, Celaque</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-10.jpg" alt="Parque Nacional, Pico Bonito">
                    <h3>Parque Nacional, Pico Bonito</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-11.jpg" alt="Lago de Yojoa">
                    <h3>Lago de Yojoa</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/nature-12.jpg" alt="Ruinas de Copán">
                    <h3>Ruinas de Copán</h3>
                 </article>

            </section>

            <!-- SECTION ISLANDS -->
            <div class="title-section">
                <h2>Islands</h2>
            </div>
            <section class="discover-islands">
                <article class="cards-discover">
                    <img src="../img/islands-1.jpg" alt="Roatán, Islas de la Bahía">
                    <h3>Roatán, Islas de la Bahía</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/islands-2.jpg" alt="Utila, Islas de la Bahía">
                    <h3>Utila, Islas de la Bahía</h3>
                 </article>
                 <article class="cards-discover">
                    <img src="../img/islands-3.jpg" alt="Guanaja, Islas de la Bahía">
                    <h3>Guanaja, Islas de la Bahía</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/islands-4.jpg" alt="Cayos Cochinos, Islas de la Bahía">
                    <h3>Cayos Cochinos, Islas de la Bahía</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/islands-5.jpg" alt="Amapala, Valle">
                    <h3>Amapala, Valle</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/islands-6.jpg" alt="Islas de los pájaros, Valle">
                    <h3>Islas de los pájaros, Valle</h3>
                 </article>
            </section>

            <!-- SECTION ARCHEOLOGY AND HISTORY -->
            <div class="title-section">
                <h2>Archeology and History</h2>
            </div>
            <section class="discover">
                <article class="cards-discover">
                    <img src="../img/history-1.jpg" alt="Ciudad Blanca, Gracias a Dios">
                    <h3>Ciudad Blanca, Gracias a Dios</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/history-2.jpg" alt="Rastrajón, Copá">
                    <h3>Rastrajón, Copá</h3>
                 </article>
                 <article class="cards-discover">
                    <img src="../img/history-3.jpg" alt="Parque de Aves y Reserva Natural Montaña Guacamaya "Macaw Mountain", Copán">
                    <h3>Parque de Aves y Reserva Natural Montaña Guacamaya "Macaw Mountain", Copán</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/history-4.jpg" alt="Parque Arqueológico Ruinas de Copán, Copán">
                    <h3>Parque Arqueológico Ruinas de Copán, Copán</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/history-5.jpg" alt="La Fortaleza de San Fernando, Omoa, Cortés">
                    <h3>La Fortaleza de San Fernando, Omoa, Cortés</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/history-6.jpg" alt="El Fuerte de San Cristóbal, Gracias, Lempira">
                    <h3>El Fuerte de San Cristóbal, Gracias, Lempira</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/history-7.jpg" alt="Parque Eco-Arqueológico de Los Naranjos, Lago de Yojoa">
                    <h3>Parque Eco-Arqueológico de Los Naranjos, Lago de Yojoa</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/history-8.jpg" alt="La Fortaleza de Santa Bárbara, Trujillo, Colón">
                    <h3>La Fortaleza de Santa Bárbara, Trujillo, Colón</h3>
                 </article>
            </section>

              <!-- SECTION GASTRONOMY AND CULTURE -->
              <div class="title-section">
                <h2>Gastronomy and Culture</h2>
            </div>
            <section class="discover-culture">
                <article class="cards-discover">
                    <img src="../img/culture-1.jpg" alt="Gastronomía sureña">
                    <h3>Gastronomía sureña</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/culture-2.jpg" alt="Galería Sixtina">
                    <h3>Galería Sixtina</h3>
                 </article>
                 <article class="cards-discover">
                    <img src="../img/culture-3.jpg" alt="Museo de Comayagua">
                    <h3>Museo de Comayagua</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/culture-4.jpg" alt="Museo del Hombre Hondureño">
                    <h3>Museo del Hombre Hondureño</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/culture-5.jpg" alt="Centro histórico de Tegusigalpa">
                    <h3>Centro histórico de Tegucigalpa</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/culture-6.jpg" alt="Finca Santa Isabel, Copán">
                    <h3>Finca Santa Isabel, Copán</h3>
                 </article>
            </section>

              <!-- SECTION TOURIST PLACES -->
            <div class="title-section">
                <h2>Tourist Places</h2>
            </div>
            <section class="discover">
                <article class="cards-discover">
                    <img src="../img/places-1.jpg" alt="Islas de la bahía">
                    <h3>Islas de la bahía</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-2.jpg" alt="Roatán">
                    <h3>Roatán</h3>
                 </article>
                 <article class="cards-discover">
                     <img src="../img/places-3.jpg" alt="Utila">
                     <h3>Utila</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-4.jpg" alt="Tela, Atlántida">
                    <h3>Tela, Atlántida</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-5.png" alt="Puerto Cortés">
                    <h3>Puerto Cortés</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-6.jpg" alt="Lago de Yojoa">
                    <h3>Lago de Yojoa</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-7.jpg" alt="Parque Nacional Pico Bonito">
                    <h3>Parque Nacional Pico Bonito</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-8.jpg" alt="La Ceiba, Atlántida">
                    <h3>La Ceiba, Atlántida</h3>
                 </article>
                <article class="cards-discover">
                    <img src="../img/places-9.jpg" alt="Fortaleza de San Fernando Omoa">
                    <h3>Fortaleza de San Fernando Omoa</h3>
                 </article>
            </section>
        </main>
       </div>



       <footer class="footer">
            <p>Designed by <small>@OPCODE</small></p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#""><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </footer>
    </div>
</body>
</html>