<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULTURA</title>
    <link rel="stylesheet" href="../css/layoutkultura.css">
    <link rel="stylesheet" href="../css/kultura.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>
    <div class="cap-opacity">
        <div class="container">
            <header>
                <a href="kultura.html">
                    <h1>KULTURA</h1>
                </a>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Explore<i class="fas fa-angle-right"></i></a>
                            <ul class="explore-nav">
                                <li><a href="./touristplaces.html"><i class="fas fa-map-marked-alt"></i>Tourist
                                        places</a></li>
                                <li><a href="./culture.html"><i class="fas fa-globe-americas"></i>Culture</a></li>
                                <li><a href="./about.html"><i class="fas fa-users"></i>About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="./discover.html">Discover</a></li>
                        <li><a href="./tourpackage.html">Tour Package</a></li>
                    </ul>
                </nav>

                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input type="text" placeholder="Search">
                </div>
                <div class="profile">
                    <i class="far fa-user"></i>
                </div>

            </header>
            <main>
                <div class="content">
                    <h2>WORLD <br> OF <span>PARADISE,</span> HONDURAS</h2>
                    <p>
                        Let's explore one of the most beautiful countries in the world,
                        Honduras. Enjoy 6 vacation packages at competitive prices.
                    </p>
                    <section class="info-place">
                        <div class="item-place">
                            <h2>Most popular activity</h2>
                            <p>Festivities</p>
                        </div>
                        <div class="item-place">
                            <h2>Most excited place</h2>
                            <p>Roatán & National Parks</p>
                        </div>
                        <div class="item-place">
                            <h2>Culture style</h2>
                            <p>Agricultural and industrial</p>
                        </div>
                    </section>
                </div>
            </main>
        </div>
        <footer class="footer">
            <p>Designed by <small>@OPCODE</small></p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#""><i class=" fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>