<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULTURA</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="../css/layoutkultura.css">
    <link rel="stylesheet" href="../css/tourpackage.css">
</head>
<body>
    <div class="cap-opacity">
       <div class="container">
            <header>
                <a href="kultura.html">
                    <h1>KULTURA</h1>
                </a>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Explore<i class="fas fa-angle-right"></i></a>
                            <ul class="explore-nav">
                                <li><a href="./touristplaces.html"><i class="fas fa-map-marked-alt"></i>Tourist places</a></li>
                                <li><a href="./culture.html"><i class="fas fa-globe-americas"></i>Culture</a></li>
                                <li><a href="./about.html"><i class="fas fa-users"></i>About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="./discover.html">Discover</a></li>
                        <li><a href="./tourpackage.html">Tour Package</a></li>
                    </ul>
                </nav>
                
                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input type="text" placeholder="Search">
                </div>
                <div class="profile">
                    <i class="far fa-user"></i>
                </div>
            </header>
            
            <main class="tourist-packages">
                <section class="destine roatan">
                    <h2>ROATÁN</h2>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package1-roatan.jpg" alt="package1-roatan">
                            <div class="tittle-card">
                                <h2>Infinity Bay Con Boletos Aéreos</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package2-roatan.jpg" alt="package2-roatan">
                            <div class="tittle-card">
                                <h2>Infinity Bay con Ferry</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package3-roatan.jpg" alt="package3-roatan">
                            <div class="tittle-card">
                                <h2>Lunas de Miel en Roatán</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package4-roatan.jpg" alt="package4-roatan">
                            <div class="tittle-card">
                                <h2>Paradise Beach Ferry</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package5-roatan.jpg" alt="package5-roatan">
                            <div class="tittle-card">
                                <h2>Paradise Beach Aéreo</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package6-roatan.jpg" alt="package6-roatan">
                            <div class="tittle-card">
                                <h2>Infinity Bay con Boletos Aéreos</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                </section>

                <section class="destine tela">
                    <h2>TELA</h2>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package1-tela.jpg" alt="package1-tela">
                            <div class="tittle-card">
                                <h2>Telamar Todo Incluido</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $119</h3>
                            <p>Vigente hasta Noviembre 20, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package2-tela.jpg" alt="package2-tela">
                            <div class="tittle-card">
                                <h2>La Ensenada Todo Incluido</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $130</h3>
                            <p>Vigente hasta Enero 10, 2022</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package3-tela.jpg" alt="package3-tela">
                            <div class="tittle-card">
                                <h2>Villa Tela mar</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                </section>

                <section class="destine copan">
                    <h2>COPÁN</h2>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package1-copan.jpg" alt="package1-copan">
                            <div class="tittle-card">
                                <h2>Copán Real con Transporte Incluído</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $120</h3>
                            <p>Vigente hasta Noviembre 10, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package2-copan.jpg" alt="package2-copan">
                            <div class="tittle-card">
                                <h2>Copán Real</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $180</h3>
                            <p>Vigente hasta Diciembre 20, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package3-copan.jpg" alt="package3-copan">
                            <div class="tittle-card">
                                <h2>Copan Real Todo Incluido</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $300</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                </section>

                <section class="destine sps">
                    <h2>San Pedro Sula</h2>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package1-sps.jpg" alt="package1-sps">
                            <div class="tittle-card">
                                <h2>Traslados en vehículo</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $10</h3>
                            <p>Vigente hasta Noviembre 10, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>

                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package2-sps.jpg" alt="package2-sps">
                            <div class="tittle-card">
                                <h2>Traslados VIP</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $20</h3>
                            <p>Vigente hasta Octubre 10, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                </section>

                <section class="destine utila">
                    <h2>UTILA</h2>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package1-utila.jpg" alt="package1-utila">
                            <div class="tittle-card">
                                <h2>Coral View Beach Resort</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $70</h3>
                            <p>Vigente hasta Noviembre 10, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package2-utila.jpg" alt="package2-utila">
                            <div class="tittle-card">
                                <h2>La Mayur Cottage</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $130</h3>
                            <p>Vigente hasta Diciembre 20, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                    <article class="card-package">
                        <div class="img-card">
                            <img src="../img/package3-utila.jpg" alt="package3-utila">
                            <div class="tittle-card">
                                <h2>La Hamaca Hostel Utila</h2>
                                <a href="#"><i class="far fa-plus-square"></i></a>
                            </div>
                        </div>
                        <div class="description-card">
                            <h3>Desde $250</h3>
                            <p>Vigente hasta Diciembre 30, 2021</p>
                            <a href="#">Leer mas</a>
                        </div>
                    </article>
                </section>
                
            </main>
       </div>
        <footer class="footer">
            <p>Designed by <small>@OPCODE</small></p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#""><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </footer>
    </div>
</body>
</html>