<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KULTURA</title>
    <link rel="stylesheet" href="../css/layoutkultura.css">
    <link rel="stylesheet" href="../css/touristplaces.css">
    <link rel="stylesheet" href="../css/discover.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body>
    <div class="cap-opacity">
        <div class="container">
            <header>
                <a href="kultura.html">
                    <h1>KULTURA</h1>
                </a>
                <nav class="navbar">
                    <ul>
                        <li>
                            <a href="#">Explore<i class="fas fa-angle-right"></i></a>
                            <ul class="explore-nav">
                                <li><a href="./touristplaces.html"><i class="fas fa-map-marked-alt"></i>Tourist
                                        places</a></li>
                                <li><a href="./culture.html"><i class="fas fa-globe-americas"></i>Culture</a></li>
                                <li><a href="./about.html"><i class="fas fa-users"></i>About Us</a></li>
                            </ul>
                        </li>
                        <li><a href="./discover.html">Discover</a></li>
                        <li><a href="./tourpackage.html">Tour Package</a></li>
                    </ul>
                </nav>

                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input type="text" placeholder="Search">
                </div>
                <div class="profile">
                    <i class="far fa-user"></i>
                </div>

            </header>
            
        </div>
        <main class="tourist-main">
            <!-- SECTION TOURIST PLACES -->
            <div class="title-section">
                <h2>Tourist Places</h2>
            </div>
            <section class="discover">
                <article class="cards-discover">
                    <img src="../img/places-1.jpg" alt="Islas de la bahía">
                    <h3>Islas de la bahía</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-2.jpg" alt="Roatán">
                    <h3>Roatán</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-3.jpg" alt="Utila">
                    <h3>Utila</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-4.jpg" alt="Tela, Atlántida">
                    <h3>Tela, Atlántida</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-5.png" alt="Puerto Cortés">
                    <h3>Puerto Cortés</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-6.jpg" alt="Lago de Yojoa">
                    <h3>Lago de Yojoa</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-7.jpg" alt="Parque Nacional Pico Bonito">
                    <h3>Parque Nacional Pico Bonito</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-8.jpg" alt="La Ceiba, Atlántida">
                    <h3>La Ceiba, Atlántida</h3>
                </article>
                <article class="cards-discover">
                    <img src="../img/places-9.jpg" alt="Fortaleza de San Fernando Omoa">
                    <h3>Fortaleza de San Fernando Omoa</h3>
                </article>
            </section>

        </main>
        
        <footer class="footer">
            <p>Designed by <small>@OPCODE</small></p>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#""><i class=" fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-google"></i></a>
            </div>
        </footer>
    </div>
</body>

</html>